<pip-main>
       <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="menu"
                        ng-click="onToggleMenu()">
                    <md-icon md-svg-icon="icons:menu"></md-icon>
                </md-button>
                <div class="flex-var text-overflow">Dialog</span></div>
            </div>
        </md-toolbar>
    <pip-main-body class="">

            <md-button class="md-accent md-raised" ng-click="openDialog($event)">Open Dialog</md-button>

    </pip-main-body>
</pip-main>
