<md-dialog class="pip-dialog" width="600">
    <div class="pip-header">
        <h3 class="m0">This is a Header</h3>
    </div>
    <div class="pip-body">
        <div class="pip-content">
            <div class="bg-yellow" style="height:100px"></div>
            <div class="bg-blue" style="height:100px"></div>
            <div class="bg-green" style="height:100px"></div>
            <div class="bg-red" style="height:100px"></div>
        </div>
    </div>
    <div class="pip-footer">
        <div>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button class="md-accent" ng-click="answer('ok')">Ok</md-button>
        </div>
    </div>
</md-dialog>