<pip-main>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="menu"
                       ng-click="backToList()" ng-show="isMobileDetails()">
                <md-icon md-svg-icon="icons:arrow-left"></md-icon>
            </md-button>
            <h2><span>Document List Layout</span></h2>
        </div>
    </md-toolbar>

    <pip-main-body>

        <pip-document class="pip-no-border pip-document-list"
                      ng-class="{'pip-single-content': tabIndex === 0 || isMobileDetails()}">

            <md-toolbar class="pip-nav">
                <md-tabs md-stretch-tabs="never" class="md-primary" md-selected="tabIndex">
                    <md-tab label="Overview"></md-tab>
                    <md-tab label="Workflows"></md-tab>
                    <md-tab label="Analysis"></md-tab>
                    <md-tab label="Configuration"></md-tab>
                </md-tabs>
            </md-toolbar>

            <div class="pip-menu-container pip-border-no-top">
                <div class="pip-menu" ng-include="'common_templates/list_template.html'">
                </div>

                <div class="pip-content-container" >
                    <div ng-if="tabIndex !== 0" ng-include="'common_templates/details_template.html'">

                    </div>

                    <div ng-if="tabIndex === 0">
                        <div class="pip-header">
                            <md-icon md-svg-icon="icons:warn-circle"
                                     style="color: #ff5252; height: 40px; width: 40px">
                            </md-icon>
                            <h1 class="flex-var" style="margin-left: 16px">{{ overview.title }}</h1>
                        </div>

                        <div class="pip-body" style="padding-bottom: 0">
                            <div class="layout-row">
                                <div class="flex layout-column">
                                    <div class="flex" style="color: rgba(0, 0, 0, 0.54)">Active</div>
                                    <h3 class="flex" style="margin-top: 0px"><b>{{ overview.active }}</b></h3>
                                </div>
                                <div class="flex layout-column">
                                    <div class="flex" style="color: rgba(0, 0, 0, 0.54)">Failed</div>
                                    <h3 class="flex" style="margin-top: 0px"><b>{{ overview.fail }}</b></h3>
                                </div>
                                <div class="flex layout-column">
                                    <div class="flex" style="color: rgba(0, 0, 0, 0.54)">Last action</div>
                                    <h3 class="flex" style="margin-top: 0px"><b>{{ overview.last }}</b></h3>
                                </div>
                            </div>
                            <p style="font-weight: 500;color: rgba(0, 0, 0, 0.54); margin: 0">Recent events</p>
                        </div>

                        <md-list class="flex" style="padding-top: 0">
                            <md-list-item class="md-3-line" ng-repeat="item in  items" ng-click="null" >
                                <div class="md-list-item-text layout-column">
                                    <h3 class="layout-row">
                                        <span class="flex-fixed"
                                              style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            ID: <b>{{ item.id }}</b>
                                        </span>
                                        <span style="margin: 0 8px 0 8px">-</span>
                                        <span class="flex-fixed"
                                              style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            PO#: <b>{{ item.po }}</b>
                                        </span>
                                        <span style="margin: 0 8px 0 8px">-</span>
                                        <span class="flex-fixed"
                                              style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            Activities: <b>{{ item.activities.length }}</b>
                                        </span>
                                    </h3>
                                    <h4 class="layout-row">
                                        <span class="flex-fixed"
                                              style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            Started: <b>{{ item.start }}</b>
                                        </span>
                                        <span style="margin: 0 8px 0 8px">-</span>
                                        <span class="flex-fixed"
                                              style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            Last activity: <b>{{ item.last }}</b>
                                        </span>
                                    </h4>

                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>

            </div>

        </pip-document>
    </pip-main-body>
</pip-main>
