<pip-main>
    <md-toolbar>
        <div class="md-toolbar-tools">
             <md-button class="md-icon-button" aria-label="menu"
                        ng-click="onToggleMenu()" ng-hide="isMobileDetails()">
                    <md-icon md-svg-icon="icons:menu"></md-icon>
                </md-button>
            <h2 class="flex-var"><span>Menu Layout</span></h2>
            <md-button ng-click="showAuxPanel()" ng-if="!panel">Show auxiliary panel</md-button>
             <md-button ng-click="hideAuxPanel()" ng-if="panel">Hide auxiliary panel</md-button>
        </div>
    </md-toolbar>
    <pip-main-body style="padding: 20px">
        <table style="width: 100%; font-size: 16px">
            <thead style="text-align: left;">
                <tr>
                    <th>
                        Breakpoint
                    </th>
                    <th>
                        mediaQuery
                    </th>
                    <th>
                        result
                    </th>
                    <th>
                        Show / hide by media
                    </th>
                    <th>
                        Show / hide by classes
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-weight: 500">xs</td>
                    <td>(max-width: 599px)</td>
                    <td>{{ pipMedia('xs') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('xs')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-xs"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">gt-xs</td>
                    <td>(min-width: 600px)</td>
                    <td>{{ pipMedia('gt-xs') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('gt-xs')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-gt-xs"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">sm</td>
                    <td>(min-width: 600px) and (max-width: 959px)</td>
                    <td>{{ pipMedia('sm') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('sm')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-sm"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">gt-sm</td>
                    <td>(min-width: 960px)</td>
                    <td>{{ pipMedia('gt-sm') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('gt-sm')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-gt-sm"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">md</td>
                    <td>(min-width: 960px) and (max-width: 1279px)</td>
                    <td>{{ pipMedia('md') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('md')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-md"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">gt-md</td>
                    <td>(min-width: 1280px)</td>
                    <td>{{ pipMedia('gt-md') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('gt-md')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-gt-md"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">lg</td>
                    <td>(min-width: 1280px) and (max-width: 1919px)</td>
                    <td>{{ pipMedia('lg') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('lg')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-lg"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">gt-lg</td>
                    <td>(min-width: 1920px)</td>
                    <td>{{ pipMedia('gt-lg') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('gt-lg')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-gt-lg"></td>
                </tr>
                <tr>
                    <td style="font-weight: 500">xl</td>
                    <td>(min-width: 1920px)</td>
                    <td>{{ pipMedia('xl') }}</td>
                    <td style="background-color: rgb(63, 81, 181)" ng-show="pipMedia('xl')"></td>
                    <td style="background-color: rgb(63, 81, 181)" class="pip-show-xl"></td>
                </tr>
            </tbody>
        </table>
        <md-button ng-click="trigRightPanel()">Show/hide right panel</md-button>
    </pip-main-body>
</pip-main>