<pip-main class="layout-column">
     <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="menu"
                        ng-click="onToggleMenu()">
                    <md-icon md-svg-icon="icons:menu"></md-icon>
                </md-button>
                <div class="flex-var text-overflow">Tiles</span></div>
                
            <md-button ng-click="showAuxPanel()" ng-if="!panel">Show auxiliary panel</md-button>
             <md-button ng-click="hideAuxPanel()" ng-if="panel">Hide auxiliary panel</md-button>
            </div>
        </md-toolbar>
    <md-toolbar class=" md-primary pip-body-nav">
        <md-tabs md-selected="0" >
            <md-tab label="One"></md-tab>
            <md-tab label="Two"></md-tab>
            <md-tab label="Three"></md-tab>
            <md-tab label="Four"></md-tab>
        </md-tabs>
    </md-toolbar>
    <pip-main-body ng-include="'common_templates/tiles_template.html'">

    </pip-main-body>

</pip-main>
