<pip-main>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Menu Layout</span></h2>
        </div>
    </md-toolbar>

    <pip-main-body >
        <md-toolbar class="pip-nav">
            <md-tabs md-stretch-tabs="never" class="md-primary" md-selected="tabIndex">
                <md-tab label="Document"></md-tab>
                <md-tab label="Tiles"></md-tab>
                <md-tab label="Analysis"></md-tab>
                <md-tab label="Configuration"></md-tab>
            </md-tabs>
        </md-toolbar>
        <div class="pip-external-menu">
            <div class="pip-menu" ng-include="'common_templates/list_template.html'">
            </div>

            <div class="pip-content-container" ng-if="tabIndex === 0">
                <pip-document>
                    <div ng-include="'common_templates/details_template.html'"></div>
                </pip-document>
            </div>

            <div class="pip-content-container" ng-if="tabIndex === 1"
                 ng-include="'common_templates/tiles_template.html'">
            </div>

        </div>
    </pip-main-body>
</pip-main>