<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>WebUI Layouts Sample</title>

    <link rel="stylesheet" href="../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../dist/pip-webui-layouts.css"/>

    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <style>
        .pip-title > h1 {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .pip-title > div {
            margin-bottom: 30px;
        }

        .pip-section > h2 {
            margin-bottom: 5px;
        }
    </style>

    <script src="../lib/pip-webui-lib.js"></script>
    <script src="../dist/pip-webui-layouts.js"></script>
    <script src="card/card.js"></script>
    <script src="dialog/dialog.js"></script>
    <script src="simple/simple.js"></script>
    <script src="document/document.js"></script>
    <script src="multi_document/multi_document.js"></script>
    <script src="tiles/tiles.js"></script>
    <script src="tile_groups/tile_groups.js"></script>
    <script src="media/media.js"></script>
    <script src="menu/menu.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="app" class="layout-column layout-align-start-center" ng-controller="AppController">
<div class="layout-row flex" style="width: 100%">
    <md-sidenav md-component-id="left"
                class="md-whiteframe-z2 md-sidenav-left layout-column">
        <md-list>
            <md-list-item ng-repeat="contentItem in content"
                          ng-click="onSwitchPage(contentItem.state)"
                          ng-class="{ 'selected-state': isActiveState(contentItem.state) }">
                <p ui-sref="{{contentItem.state}}">{{contentItem.title}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content id="content" class="flex">
        <div ui-view style="padding: 24px" ></div>
    </md-content>

    <md-sidenav md-component-id="rigth" md-is-locked-open="lockRightPanel()"
                class="md-whiteframe-z2 md-sidenav-left layout-column">
        <md-content style="padding: 24px">
            For pipMedia test
        </md-content>
    </md-sidenav>
    <pip-aux-panel>
        <div style="padding-left:16px; padding-right: 16px">
            <h3>Help</h3>
            <div ng-repeat="shortcut in shortcuts" class="layout-row layout-align-start-start bm8">
                <div class="flex-fixed layout-row" style ="min-width: 100px">
                    <div ng-repeat="letter in shortcut.shortcut" class="flex-fixed">
                        <span class="color-secondary-text text-body2"
                            style="background-color: #eaeaea; padding: 8px; display: inline-block">
                            {{letter}}
                        </span>
                        <span ng-if="$index < shortcut.shortcut.length - 1" style="margin-right: 8px">+</span>
                    </div>
                </div>
                <div class="lm8 text-subhead1 tm4 tp2" style="">
                    {{shortcut.state}}
                </div>
            </div>
        <div>
    </pip-aux-panel>
</div>

</body>
</html>