
.bg-red {  background-color: rgba(188, 86, 121, 1); !important;  }
.bg-blue {  background-color: rgba(33, 150, 243, 1) !important;  }
.bg-green {  background-color: rgba(76, 175, 80, 1) !important;  }
.bg-yellow {  background-color: rgba(255, 152, 0, 1) !important;  }
.bg-grey {  background-color: lightgrey !important;  }
.bg-white {  background-color: white !important;  }

h2 {  margin: 0;  }

.tile-sm {
    margin: 8px;
    height: 200px;
}

.tile-md {
    margin: 8px;
    height: 300px;
}

.tile-lg {
    margin: 8px;
    height: 400px;
}
