// @file Composition of all layout CSS styles
// @copyright Digital Living Software Corp. 2014-2015

@import "css_light/css_light";

@font-letter-spacing-title:        0.005em;
@font-letter-spacing-primary:      0.01em;
@padding-bottom-title:             24px;
@padding-desktop:                  24px;
@padding-mobile:                   16px;
@divider-border:                   1px solid @color-divider;
@border-radius:                    2px;

@import "main/main";
@import "content";
@import "scroll";
@import "simple/simple";
@import "card/card";
@import "document/document";
@import "dialog/dialog";
@import "tiles/tiles";
