// @file Composition of all layout CSS styles
// @copyright Digital Living Software Corp. 2014-2015

@import "css_light/css_light";
@import "dependances/effects_mixins";
@import "dependances/positions_mixins";
@import "dependances/scroll";

@font-letter-spacing-title:        0.005em;
@font-letter-spacing-primary:      0.01em;
@padding-bottom-title:             24px;
@padding-desktop:                  24px;
@padding-mobile:                   16px;
@divider-border:                   1px solid @color-divider;
@border-radius:                    2px;

.flex-order(@index) {
    -webkit-box-ordinal-group: @index;
    -moz-box-ordinal-group:    @index;
    -webkit-order:             @index;
    -ms-flex-order:            @index;
    order:                     @index;
}

@import "main/main";
@import "content";
@import "simple/simple";
@import "card/card";
@import "document/document";
@import "dialog/dialog";
@import "tiles/tiles";
