// $file CSS styles for main layout container
// $copyright Digital Living Software Corp. 2014-2015

.pip-main {
    @include flex();
    @include flex-direction(column);
    @include position-absolute(0, 0, 0, 0);
    background-color: $color-window;
    font-size: 14px;
    overflow-x: hidden;

    .pip-body-nav {
        @extend flex-fixed;
        min-height: 0px;
        
        .md-paginator{
          margin-right: 0px !important;
        }
    }
        
    .pip-main-body {
        position: relative;
        @include flex();
        @include flex-direction(column);
        @extend flex-var;
        @include flex-vertical-content(center);
        overflow: hidden;
    }
}


// Borders
//------------

.pip-no-border {
    @include border-radius(0px);
    box-shadow: none!important;
    background: none!important;
}

.pip-border {
    background-color: $color-content; 
    box-shadow: $box-shadow; 
    @include border-radius($border-radius);
    @include shadow-card();    
}

.pip-border-no-top {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    @include border-radius-top(0px);
    @include border-radius-bottom($border-radius);
    @include shadow-card();    
}

// On tablet
@media (max-width: 1200px) {
    .pip-border, .pip-border-no-top {
        @include border-radius(0px);
        box-shadow: none!important;        
    }
}