/*
 * @example - simple layout
 *  <pip-simple>
 *      <div class="pip-content"></div>
 *  </pip-simple>
*/
.pip-simple {
    /*min-height: 100%;*/
    width: 100%;
    @include flex-var;
    @include scroll;
    padding: 0px;
    margin: 0px;
    background-color: $color-content;
    overflow-x: hidden !important;
}
